<div class="row">
  <%= render 'aside' %>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.voices.any? %>
      <h3><span class="glyphicon glyphicon-volume-down" aria-hidden="true"></span>ボイス</h3>
      <ol class="voices">
        <%= render @voices %>
      </ol>
      <%= paginate @voices%>
    <% end %>
  </div>
</div>