<div class="row">
  <div class="col-md-8 col-md-push-4">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.voices.any? %>
      <h3><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>スキなボイス</h3>
      <ol class="voices">
        <%= render @voices %>
      </ol>
    <% end %>
    <%= paginate @voices %>
  </div>
  <%= render 'aside2' %>
</div>