<% if voice.original_id.nil? %>
    <%= link_to share_voice_path(voice), method: :post, data: { confirm: "シェアしますか？"} do %>
        <span class="glyphicon glyphicon-retweet", aria-hidden="true"></span>
    <% end %>
    シェア&nbsp;
<% end %>
