<div class="row">
    <div class="col-md-8 col-md-push-4">
        <h3><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>ボイス</h3>
        <ol class="voices">
        <%= render @voices %>
        </ol>
    </div>
    <%= paginate @voices %>
    <aside class="col-md-4 col-md-pull-8">
        <section class="user_info">
            <%= render 'shared/user_info' %>
            <%= render 'shared/links' %>
        <section>
    </aside>
</div>